body{
    background-color: gray;
}

h1{
    text-align: center;
    color: black;
    padding-top: 10px;
}

h3{
    font-weight: 600;
    font-family: sans-serif;
    padding-left: 10px;
}

form{
    padding: 10px;
}

label{
    padding:10px;
    letter-spacing: 1px;
}

input{
    width: 150px;
}
#button a {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
    color:black;
    padding: 10px;
}
